<header class="header">
    <a href="/">{{ site.title }}</a>
    <nav>
    <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/credits">Credits</a></li>
    <li><a href="/contact">Contact</a></li>
    </ul>
    </nav>
</header>
