---
title: Eleventy Basic Blog
---
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ renderData.title or title or metadata.title }}</title>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<!-- capture the CSS content as a Nunjucks variable -->
{% set css %}
  {% include "styles.css" %}
{% endset %}
<!-- feed it through our cssmin filter to minify -->
<style>
  {{ css | cssmin | safe }}
</style>
</head>
<body>
{% include "header.njk" %}
  <main class="main">{{ content | safe }}</main>
{% include "footer.njk" %}
</body>
</html>
